
{{ if .IsHome }}
    <section class="hero">
	    <img src="/images/logo.png">
		<!--
        <h1 class="p-name">{{ .Title }}</h1>
		<p class="subtitle">{{ .Params.description }}</p>
		<p>{{ .Content }}</p>
		-->
		<div class="scroll-down">
			<a href="#header">↓</a>
		</div>
	</section>
{{ end }}
	<header id="header">
		<div class="logo h-card">
			<a class="u-url" href="{{ .Site.Home.Permalink }}">
				<img alt="Site Logo" class="site-logo u-photo" src="{{ $.Site.Params.logo | default "/images/logo-head.png" }}"/>
			</a>
		</div>
<!--
    <nav>
    <div class="social-media">
        {{ range site.Params.social}}
            <a href="{{ .url }}"><img alt="{{ .name }}" src="{{ .icon }}"/></a>
        {{ end }}
    </div>
    </nav>
-->
		<nav class="menu">
			<ul>
            {{- range site.Menus.main }}
                <li>
					<a href="{{ .URL }}">{{ .Name }}</a>
				</li>
            {{- end }}
        </ul>
		</nav>
	</header>
<p>&nbsp;</p>
<p>&nbsp;</p>